body {
	margin: 1em auto;
	padding: 0;
	max-width: 800px;

	font-family: sans-serif;
	font-size: 16px;
	color: var(--c-font);
	background: var(--c-bg);


	--c-font: #000000;
	--c-font-green: #34b734;
	--c-font-green-highlight: #78d978;
	--c-font-inverted: #ffffff;
	--c-bg: #ffffff;
	--c-bg-green: #34b734;
	--c-bg-green-highlight: #78d978;
	--c-border: #000000;
}

@media (prefers-color-scheme: dark) {
	html, body {
		--c-font: #f0f0f0;
		--c-font-green: #34b734;
		--c-font-green-highlight: #78d978;
		--c-font-inverted: #f0f0f0;
		--c-bg: #121212;
		--c-bg-green: #34b734;
		--c-bg-green-highlight: #78d978;
		--c-border: #f0f0f0;
	}
}

h1 {
	font-size: 200%;
	font-weight: normal;
	text-align: inherit !important;
}

h1::before {
	display: block;
	height: 64px;
	padding-left: 64px;
	margin-bottom: 0.5em;

	background-image: url(https://www.chatbx.eu/img/chatbx.png);
	background-size: 64px;
	background-repeat: no-repeat;

	content: "chatbx.eu";
	font-size: 200%;
	color: var(--c-font-green);
}

a {
	color: var(--c-font-green);
}

a:hover {
	color: var(--c-font-green-highlight);
}

p {
	line-height: 1.5;
}

li {
	margin-top: 1em;
	font-weight: bold;
}

li li {
	margin-top: 0;
	font-weight: normal;
}

ol {
	list-style: none;
	padding: 0;
}

ul {
	list-style: none;
	padding: 0;
}

li > ul {
	list-style-type: '- ';
	padding-left: 2em;
}

li > ul > li {
	font-size: 75%;
}

img {
	margin-left: 1em;
}

input {
	display: block;
	color: var(--c-font);
	background-color: var(--c-bg);
	border: 1px solid var(--c-border);
	border-radius: 5px;
	padding: 0.5em;
	width: 15em;
}

input:focus {
	border-color: var(--c-font-green);
	box-shadow: 0px 0px 10px var(--c-font-green-highlight);
}

input[type="submit"] {
	background-color: var(--c-bg-green);
	color: var(--c-font-inverted) !important;
	text-decoration: none;
	text-transform: uppercase;

	font-size: 110%;
	width: auto;
	padding: 0.5em 1em;
	border-radius: 5px;
	border: none;
}

input[type="submit"]:hover {
	background-color: var(--c-bg-green-highlight);
	box-shadow: 0px 0px 10px var(--c-font-green-highlight);
}
